
*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background:/*linear-gradient(to top, rgba(69, 66, 255, 1),rgba(255, 255, 255, 1)),*/ url(pic/Call-of-Duty-Black-Ops.jpg) ;
    background-size: cover;
    background-position: center;
    
}
.container
{
    max-width: 700px;
    width: 100%;
    background: whitesmoke;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    background-color: aqua;
} 
.container.title::before{
    content: '' ;
    position: absolute;
    left: 0;
    bottom: 0;
    height:3px ;
    width: 3px;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);

} 
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;    
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
     
}
.user-details .input-box .details{
    display:block ;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{

   height: 45px;
   width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 3px;
    transition:all 0.5s ease;

}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
border-color: #9b59b6;
}
form .gender-details .gender-title{
    font-size: 25px;
    font-weight: 500;
}
form .gender-details .catagory{
    display: flex;
    width: 75%;
    margin:14px 0;
    justify-content: space-between;
}
.gender-details .catagory label{
display: flex;
justify-content: center;
}
.gender-details .catagory .dot{
    height: 15px;
    width: 15px;
    background:#d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border:5px solid transparent;
}
#dot-1:checked ~ .catagory label .one,
#dot-2:checked ~ .catagory label .two,
#dot-3:checked ~ .catagory label .three{
    border-color: #d9d9d9;
    background: #000000;
    }
form input[type="radio"],
form input[type="checkbox"]{
        display: none;    
}
form .button{
    height: 45px; 
    margin: 45px 0 20px;@
}
form .button input{
    height: 100%;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
    outline: none;
}
form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6,#9b59b6);
}

@media (max-width: 587px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width:100%;
    }
    form .gender-details .catagory{
        width:100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }

}














#sidenav{
    width: 150px;
    height: 100vh;
    position:fixed;
    right:-200px;
    top: 0; 
    background: linear-gradient(135deg, #12669e48,#44444469);
   
    z-index: 2;
    transition: 0.6s;

 }
 nav ul li{
     list-style: none;
     margin: 50px 20px;   
 }
 
 nav ul li a{
    text-decoration: none;
    color:#ffff;
}
#menuBtn
{
    width: 30px;
    height: 20px;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius:3px;
    z-index: 3;
    cursor:pointer;
}
#menuBtn img{

    width: 25px;
    margin-top: 5px;

}